@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-active-focus:focus,
.disable-active-focus:active {
  background-color: transparent !important;
  color: inherit !important;
}

.dev {
  border: 1px solid red;
}
